!/docs/
!/docs/_templates/
!/docs/_templates/*.html
!/docs/reference/
.env
.koopa-binary
.koopa-install.log
.vscode/
/.claude/reports/
/.claude/settings.local.json
/app/
/bin/
/bootstrap/
/coverage/
/docs/_generated/
/etc/koopa/build-times.json
/etc/koopa/vendor.json
/libexec/
/opt/
/output/
/share/
__pycache__/
