# git submodule add --force \
#	https://github.com/mjsteinbaugh/dotfiles.git \
#	system/config/dotfiles
[submodule "system/config/dotfiles"]
	path = system/config/dotfiles
	url = https://github.com/mjsteinbaugh/dotfiles.git
