.env
.koopa-binary
.koopa-install.log
.vscode/
/.claude/settings.local.json
/app/
/bin/
/bootstrap/
/coverage/
/etc/koopa/build-times.json
/etc/koopa/build-times.json
/libexec/
/opt/
/share/
/share/zsh/site-functions/
__pycache__/
